/*!
Theme_name: CodinShop
*/

#HeaderNav {
    display: flex;
    justify-content: space-around;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        li {
            margin-left: 1rem;
        }
    }
}

h1 {
    color: black;
}
